* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --appbar-height: 64px
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
}

.defaultAppPage {
  width: 100%;
  min-height: 100vh;
  background-color: #fbf2ea;
}

#root {
  width: 100%;
  min-height: 100vh;
}
