.homePageStyle {
  width: 100%;
  min-height: calc(100vh - var(--appbar-height));
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.jobsListContainerStyle {
  width: 80%;
  margin-top: 20px;
  /* background-color: crimson; */
}

/* .extra {
  background-color: cornflowerblue;
} */
